:root {
  --baseBG: var(--snow-1);
  --inputBG: var(--snow-3);
  --heading: var(--night-3);
  --buttonBG: var(--frost-3);
}

body {
  background-color: var(--baseBG);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: auto;
  margin: auto;
}

main h1 {
  font-size: 32px;
  color: var(--heading);
}

main input {
  margin: 10px;
  padding: 5px;
  font-size: 28px;
  outline: none;
  border-radius: 5px;
  background-color: var(--inputBG);
}

button {
  margin: 10px;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--buttonBG);
}
