:root {
  /* onboard */
  --snow-1: #eceff4;
  --snow-3: #d8dee9;
  --night-3: #3b4252;
  --frost-3: #81a1c1;

  /* newtab */
  --aurora-green: #a3be8c;
  --aurora-yellow: #ebcb8b;
  --night-4: #2e3440;

  /* extra 

  --green: #00d084;
  --green-slate: #a4c977;
  --orange-dark: #de491f;
  --night-1: #4c566a;
  --night-2: #434c5e;
  --aurora-red: #bf616a;

  --orange-light: #faeecb;
  --orange-light-dark: #feddae;
  --blue-dark: #035b66;

  --red-bright: #cf2e2e;
  --red-dark: #b82d30;

  --green-whiteish: #bcc8be; */
}
