:root {
  --navBG: #f0f0f0;
  --navText: #333;
  --mainBG: #fff;
  --mainText: #333;
}

body {
  width: 250px;
  margin: 0;
  padding: 0;
  --bg-color: var(--mainBG);
  --text-color: var(--mainText);
}

nav {
  background-color: var(--navBG);
  padding: 1px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
nav p {
  font-size: 22px;
  color: var(--navText);
  margin: 1px;
  padding: 5px;
  height: 30px;
}

main {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main button {
  margin-left: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

body.dark-mode {
  --navBG: #222;
  --navText: #fff;
  --mainBG: #111;
  --mainText: #fff;
  --bg-color: var(--mainBG);
  --text-color: var(--mainText);
}
